#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define TAPPING_TERM 175
#include "hold_taps.dtsi"
#include "aliases/ergol.h"

#undef  HRM_S
#undef  HRM_L
#define HRM_S &hrm LSFT S
#define HRM_L &hrm LSFT L

&hrm { tapping-term-ms = <250>; };
#define COMBO_TIMEOUT_MS 20
#define COMBO_LOCK_MS 135

#define LAYER_BASE      0
#define LAYER_MIRROR    1
#define LAYER_SYMBOLS   2
#define LAYER_ODK       3
#define LAYER_ODK_SHIFT 4
#define LAYER_VIM_NAV   5
#define LAYER_NUM_ROW   6
#define LAYER_GAMING    7


/ {
  behaviors {
    ltsk: layer_tap_sticky_key {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&osm>;
    };

    dead_key: dead_key {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&bsl LAYER_ODK LAYER_ODK>, <&kp O>;
      mods = <(MOD_LSFT|MOD_RSFT|MOD_RALT|MOD_LGUI)>;
      keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_RALT|MOD_LGUI|MOD_LCTL)>;
    };

    // Macro to tap Ergo‑L’s ODK before the specified key
    odk: one_dead_key_macro {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_tap &kp O>
        , <&macro_param_1to1>
        , <&macro_tap &kp MACRO_PLACEHOLDER>
        ;
    };

    // Same as `odk`, but adds Shift to the speicied key
    odks: one_dead_key_shift_macro {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_tap &kp O>
        , <&macro_press &kp LSHIFT>
        , <&macro_param_1to1>
        , <&macro_tap &kp MACRO_PLACEHOLDER>
        , <&macro_release &kp LSHIFT>
        ;
    };
  };

  combos {
    compatible= "zmk,combos";

    compose_sd {
      key-positions = <14 15>;
      bindings = <&kp NUBS>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    enter_df {
      key-positions = <15 16>;
      bindings = <&kp ENTER>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    escape_kj {
      key-positions = <19 20>;
      bindings = <&kp ESCAPE>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    delete_word_lk {
      key-positions = <20 21>;
      bindings = <&kp LC(BSPC)>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    caps_word_m_comma {
      key-positions = <31 32>;
      /* bindings = <&caps_word>; */
      bindings = <&kp CAPSLOCK>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &none &kp Q &kp W     &kp E     &kp R     &kp T      &kp N &kp U     &kp I     &dead_key &kp P    &none
        &none &kp A &hrm MS S &hrm MC D &hrm MA F &kp G      &kp H &hrm MA J &hrm MC K &hrm MS L &kp SEMI &none
        &none &none &kp X     &kp C     &kp V     &none      &none &kp M     &kp COMMA &kp DOT   &none    &none
     &hrm LGUI ESCAPE  &ltsk LAYER_VIM_NAV LSHFT  &osl LAYER_MIRROR      &none  &lt LAYER_SYMBOLS SPACE  &lt LAYER_NUM_ROW BSPC
      >;
    };

    mirror_layer {
      display-name = "Mirror";
      bindings = <
        &none &kp P    &dead_key &kp I     &kp U     &kp N      &none &none &none &none &none &none
        &none &kp SEMI &hrm MS L &hrm MC K &hrm MA L &kp H      &none &none &none &none &none &none
        &none &none    &kp DOT   &kp COMMA &kp M     &none      &none &none &none &none &none &none
        &hrm LGUI ESCAPE  &ltsk LAYER_VIM_NAV LSHFT  &none      &none  &lt LAYER_SYMBOLS SPACE  &lt LAYER_NUM_ROW BSPC
      >;
    };

    symbols_layer {
      display-name = "Symbols";
      bindings = <
        &trans  S_CARET S_LT    S_GT    S_DLLR  S_PRCNT       S_AT    S_AMPS  S_STAR  S_SQT   S_GRAVE  &trans
        &trans  S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL       S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT    &trans
        &trans  S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH        S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK  &trans
        &EZ_SL(LAYER_NUM_ROW)  &lt LAYER_NUM_ROW SPACE  &none     &trans  &kp RALT  &trans
      >;
    };

    super_odk {
      display-name = "SuperOneDeadKey";
      bindings = <
        &none &odk Q &odk W &odk E &odk R &kp Z     &odk N &kp Y    &odk I     &odk O   &odk P    &none
        &none &odk A &odk S &odk D &odk F &kp B     &odk H &odk J   &odk K     &odk L   &odk SEMI &none
        &none &none  &odk Z &odk C &odk V &none     &none  &kp FSLH &odk COMMA &odk DOT &none     &none
          &kp LALT  &osl LAYER_ODK_SHIFT  &none     &none  &odk SPACE  &kp RALT
      >;
    };

    super_odk_shift {
      display-name = "SuperOneDeadKeyShifted";
      bindings = <
        &none &odks Q &odks W &odks E &odks R &kp LS(Z)   &odks N &kp LS(Y)    &odks I     &odks O   &odks P    &none
        &none &odks A &odks S &odks D &odks F &kp LS(B)   &odks H &odks J      &odks K     &odks L   &odks SEMI &none
        &none &none   &odks Z &odk C  &odk B  &none       &none   &kp LS(FSLH) &odks COMMA &odks DOT &none      &none
                             &kp LALT  &none  &none       &none  &odks SPACE  &kp RALT
      >;
    };

    vim_nav {
      display-name = "VimNav";
      bindings = <
        &none &kp LC(Z) &kp K_MUTE    &kp K_VOL_UP &kp K_VOL_DN  &kp LC(T)  &kp HOME &kp PG_DN &kp PG_UP  &kp END   &none &none
        &none &kp LC(A) &hrm MS LC(S) &kp LS(TAB)  &kp TAB       &tog LAYER_GAMING   &kp LEFT &kp DOWN  &kp UP     &kp RIGHT &none &none
        &none &none     &kp LC(X)     &kp LC(W)    &kp LC(V)     &none      &none &kp FSLH  &odk COMMA &odk DOT &none &none
                                             &kp LALT  &kp LCTL  &none      &none  &kp ENTER  &kp RALT
      >;
    };

    num_row {
      display-name = "NumRow";
      bindings = <
        &none &kp LS(N1) &kp LS(N2) &kp LS(N3)   &kp RA(N) &kp RA(B)     &kp N  &none    &kp LS(RA(I)) &kp O   &kp P  &none
        &none &kp N1     &kp N2     &kp N3       &kp N4    &kp N5        &kp N6 &kp N7   &kp N8        &kp N9  &kp N0 &none
        &none &none      &kp RA(Z)  &kp RA(FSLH) &odk V    &none         &none  &kp FSLH &kp N         &kp DOT &none  &none
                                 &kp SPACE  &kp LS(SPACE)  &none         &none  &odk SPACE  &kp RALT
      >;
    };

    gaming {
      display-name = "Gaming";
      bindings = <
        &none &kp LCTL &kp Q &kp W &kp E &kp R      &kp N &kp U &kp I     &dead_key &tog LAYER_GAMING &none
        &none &kp LSFT &kp A &kp S &kp D &kp F      &kp H &kp J &kp K     &kp L     &kp SEMI          &none
        &none &none    &kp X &kp C &kp V &none      &none &kp M &kp COMMA &kp DOT   &none             &none
         &hrm LGUI ESCAPE  &kp SPACE  &none      &none  &kp SPACE  &lt LAYER_NUM_ROW BSPC
      >;
    };

  };
};
