if BOARD_QUACKEN_V0
    config ZMK_KEYBOARD_NAME
        default "Quacken V0"

    # XXX: We’re using a W25Q128JVS, but it doesn’t have a RP2_FLASH definition.
    config RP2_FLASH_W25Q080
        default y
endif
