/dts-v1/;

#include <rpi_pico/rp2040.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

#define K(x) RC(0, x)

/ {
    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &code_partition;
        zmk,kscan = &kscan_left;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <21>;
        rows = <1>;
        map = <
            K(20) K(17) K(14) K(11) K(8) K(5)
            K(19) K(16) K(13) K(10) K(7) K(4)
            K(18) K(15) K(12) K( 9) K(6) K(3)
                               K(2) K(1) K(0)
        >;
    };

    // Median positions have no effects on the gpio used for the key
    kscan_left: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            // Thumb (Tucked / Home / Reachy)
            = <&rp2040_gpio  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Inner (Bottom / Home / Top)
            , <&rp2040_gpio  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Index (Bottom / Home / Top)
            , <&rp2040_gpio  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Middle (Bottom / Home / Top)
            , <&rp2040_gpio 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Ring (Bottom / Home / Top)
            , <&rp2040_gpio 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Pincky (Bottom / Home / Top)
            , <&rp2040_gpio 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Outer (Bottom / Home / Top)
            , <&rp2040_gpio 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan_left>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
    };

    xtal_clk: xtal-clk {
        compatible = "fixed-clock";
        clock-frequency = <12000000>;
        #clock-cells = <0>;
    };
};

rp2040_gpio: &gpio0 {
    status = "okay";
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    /* pinctrl-0 = <&i2c0_scl_p29 &i2c0_sda_p28>; */
    /* pinctrl-names = "default"; */

    io_exp_gpio: pcal6524@23 {
        compatible = "nxp,pcal6524";
        status = "okay";
        ngpios = <24>;
        #gpio-cells = <2>;
        gpio-controller;
        reg = <0x23>;
    };
};

zephyr_udc0: &usbd {
  status = "okay";
};

&flash0 {
    // XXX: The flash memory used (W25Q128JV) is a 128M-bit memory. I’ll *assume*
    // that `DT_SIZE_M` is in bytes, but if not we may not fully utilise the
    // flash memory on board.
    // (To be fair, worst case senario this is 16M-bit = 2M-byte, and if you
    // need more than that you’re probably doing something you shouldn’t)
    reg = <0x10000000 DT_SIZE_M(16)>;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Reserved memory for the second stage bootloader */
        second_stage_bootloader: partition@0 {
            reg = <0x00000000 0x100>;
            read-only;
        };

        /*
         * Usable flash. Starts at 0x100, after the bootloader. The partition
         * size is 16MB minus the 0x100 bytes taken by the bootloader.
         */
        code_partition: partition@100 {
            reg = <0x100 (DT_SIZE_M(16) - 0x100)>;
            read-only;
        };
    };
};

#undef K
